.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  border: solid 5px black;
}
.logo {
  width: 100px;
}
.nav-items ul {
  flex-direction: row;
  list-style: none;
  display: flex;
  font-size: 24px;
  gap: 20px;
  margin: 0;
}
.search {
  padding: 20px;
}
.res-card {
  width: 300px;
  border: 2px solid black;
  padding: 13px;
}
.res-card:hover {
  cursor: pointer;
}
.res-logo {
  width: 100%;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.filter {
  padding: 10px 0;
}
.login-btn {
  width: 50px;
}
